* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

header {
  background-color: #ffd700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: #111;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem;
  margin-top: 5rem;
}

.intro-text {
  width: 45%;
}

.intro-text h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.intro-text p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.intro-button {
  display: inline-block;
  background-color: #ffd700;
  color: #111;
  padding: 1rem 4rem;
  border-radius: 40px;
  text-decoration: none;
  font-weight: 700;
}

.intro-image {
  width: 45%;
}

.intro-image img {
  width: 100%;
  height: auto;
}

.contact-us {
  padding: 5rem 2rem;
  color: #ffd700;
}

.contact-us h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ffd700;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  outline: none;
}

::placeholder {
  color: #ffd700;
  opacity: 1;
}

.form-group input:focus {
  outline: none;
}

#input-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.one-line {
  width: 49%;
}

.submit-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#submit {
  display: block;
  background-color: #ffd700;
  color: #111;
  padding: 1rem 2rem;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

table {
  width: 80%;
  margin-top: 5rem;
  border-collapse: collapse;
}

.tabl {
  display: flex;
  justify-content: center;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border: 1px solid #ffd700;
  color: #ffd700;
}

tfoot tr td {
  background-color: #ffd700;
  color: black;
}
